doctype html
html
    head
        title Simple template
    body
        // include can also be used to include plaintext, css and JavaScript.
        include ./header.pug
        h3 I'm the main content
        include ./footer.pug