doctype html
html
    head
        title=name
    body
        h1=name
        // We can also use these passed variables within text. To insert passed variables in between 
        // text of a tag, we use #{variableName} syntax.
        // This method of using values is called interpolation.
        h2 Greetings from #{name}
        a(href = url) URL