// You will get the output as − Hello World! Pug converts this very simple looking markup to html. 
// We don’t need to keep track of closing our tags, no need to use class and id keywords, rather 
// use '.' and '#' to define them.
doctype html
html
    head
        title = 'Hello Pug'
    body
        // <p class = "greetings" id = "people">Hello World!</p>
        p.greetings#people Hello World!